/* Fondo oscuro, tipografía Arial y sin márgenes para que ocupe todo el viewport */
body {
    background-color: #14151a;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}


/* Contenedor principal del encabezado con gradiente, estilo oscuro y centrado */
.encabezado {
    width: 100%;
    height: 100px;
    display: flex;
    border-radius: 20px;
    background: radial-gradient(circle, #14151a ,#1A1D26 );
    margin: 30px 0;
}

/* Logo del restaurante con forma circular y sombra */
.logo {
    width: 100px;
    height: 100px;
    background-image: url("logo.png");
    background-size: cover;
    border-radius: 100px;
    box-shadow: 0 0 10px 5px #a99494;
}

/* Contenedor del nombre del restaurante centrado */
.nombre_restaurante {
    margin: auto;
}

/* Estilo del título del restaurante */
h1 {
    color: #d6ab6c;
    font-weight: 100;
    font-size: 25px;
}


/* Para centrar y definir ancho máximo */
.promo {
    max-width: 900px;
    margin: auto;
}


/* Cada promo con fondo oscuro, borde redondeado y sombra */
.tabla {
    display: flex;
    background: #1A1D26;
    border-radius: 20px;
    margin-bottom: 40px;
    overflow: hidden;
    box-shadow: 0 0 20px #000a;
    border: 1px solid #232935;
}

/* Parte izquierda donde va la imagen */
.tabla-imagen {
    width: 40%;
    background-color: #232935;
}

.tabla-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-right: 2px solid #986c2a;
}

/* Parte derecha donde va la información de la promo */
.tabla-info {
    width: 60%;
    padding: 20px;
    color: #d6ab6c;
}

/* Subtítulo de la promo */
.subtitulo {
    background-color: #2B3B4C;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}

/* Descripción de la promo */
.descripcion {
    font-size: 14px;
    margin-bottom: 10px;
}

/* Lista de condiciones o detalles de la promo */
.lista li {
    margin-bottom: 6px;
    font-size: 13px;
}


/* Contenedor para centrar el botón */
.volver{
    text-align: center;
    margin: 40px 0;
}

/* Botón con estilo dorado y sombra */
.boton-volver {
    background-color: #986c2a;
    padding: 12px 25px;
    text-decoration: none;
    color: #d6ab6c;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000a;
}

/* Efecto hover para el botón */
.boton-volver:hover {
    background-color: #b38133;
    box-shadow: 0 0 15px #d6ab6c;
}
